body{
    margin: 0;
    padding: 0;
    background-color: goldenrod;

}
.soderzh{
    width: 400px;
    height: 524px;
    position:relative;
    margin: 100px auto;
    background: url(https://images.nap.edu/books/25635/gif/2.gif) no-repeat;
    background-size: cover;
    transform-style: preserve-3d;


}
.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background: url(https://ae01.alicdn.com/kf/HTB1HTLhg3nH8KJjSspcq6z3QFXap.jpg) no-repeat;
    background-size: cover;
    transform-origin: 0 50%;
    transition: all 1.2s ease;
}
.soderzh:hover .cover{
    transform: rotateY(-180deg);
}

.body{
    width: 400px;
    height: 524px;
    background-color: white;
    position:relative;
    margin: 100px auto;
    padding: 10px;
}
h1,h5{
    text-align: center;
}
.left{
    float: left;
    width: 50%;

}
.right{
    float: right;
    text-align: right;
    width: 50%;


}
ul{
    padding-bottom: 60px;
    list-style-type: none;
}

.next{

    color: goldenrod;
}
.contests{
    text-align: center;

}
.pic4a{


    height: 200px;
}
.txt{
    padding: 10px;
    font-family: Verdana;
    font-size: small;

}

.links{
    color: black;
}