body{
    box-sizing: border-box;
}
.col-lg-12{
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px;
    font-size: small;
    position:fixed;
    top:0;
}
.row{
    text-align: center;
}
.col-lg-4{
    font-size: xx-large;
    padding: 15px;
}
.col-lg-1{
    padding: 20px;
    color: gray;
}
.col-lg-1:hover{
    color: black;
}
.way{
    font-size: small;
    color: dimgray;
    padding-left: 10px;
}
.blacka{
    color: black;
}

.col-md-2{
    border: 5px black solid;
}

img{
    margin: 5px
}

.aside{
    width: 10%;

    text-align: center;
    float: left;
}

.middlephoto{
    width: 90%;
    float: left;
    height: 90%;
    margin: 20px
}
.main{
    width: 100%;
    padding-top: 10px;
}
.watchess{
    width: 8%;
}

.watchess:hover{
    border: 2px gray solid;
    box-shadow: gray 5px 5px 5px;
}
.chchc:hover{
    border: 2px gray solid;
    box-shadow: gray 5px 5px 5px;
}
.mdph{
    height: 600px;
    float: left;
    width: 40%;
    margin-left: 50px;
}
.size{
    float: left;
    margin-left: 130px;
}
.container{

}
button{
    background: black;
    color: white;
    width: 100%;
}
.p{
    width: 42%;
    float: right;
}
.contain{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    margin-left: 150px;
    margin-right: 150px;
    clear: both;
}
.one{
    color: black;
    background: white;
}
.qna{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.carousel-item{
    width: 250px;
    height: 250px;
}

.al{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-right: 150px;
    margin-left: 150px;
}
.al-1{
    display: grid;
    grid-template-rows: repeat(4,1fr);
}
.al-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.al-2 img{
    width: 200px;
    height: 200px;
}
.al-3{
    display: grid;
    grid-template-rows: 1fr 40px 20px;
}