body{
    background-color: black;
}
.theme{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    z-index: 1;
}
.start{
    background-color: #b3171c;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}
.Growth{
    width: 15%;
}
.pic{
    display: flex;
    flex-direction: row;
}
.bgrnd{
    z-index: -3;
    position: absolute;
}
.globe{
    z-index: -2;
    position: absolute;
    right: 0;
    width: 90%;
}
.graph{
    z-index: -1;
    position: absolute;
    width: 100%;
}
.screen{
    z-index: -1;
    position: absolute;
    width: 50%;
    bottom: 0;
}
.sponsors{
    background-color: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    flex-direction: row;

}
.white{
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 680px;

}
.pic4s{
    width: 10%;
    padding: 25px;
}

