body{
    box-sizing: border-box;
}
.col-lg-12{
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px;
    font-size: small;
}
.row{
    text-align: center;
}
.col-lg-4{
    font-size: xx-large;
    padding: 15px;
}
.col-lg-1{
    padding: 20px;
    color: gray;
}
.col-lg-1:hover{
    color: black;
}
.way{
    font-size: small;
    color: dimgray;
    padding-left: 10px;
}
.blacka{
    color: black;
}

.col-md-2{
    border: 5px black solid;
}

img{
    margin: 5px
}

.aside{
    width: 10%;

    text-align: center;
    float: left;
}

.middlephoto{
    width: 70%;
    float: left;
    margin: 20px
}
.main{
    width: 100%;
    padding-top: 10px;
}
.watchess{
    width: 8%;
}

.watchess:hover{
    border: 2px gray solid;
    box-shadow: gray 5px 5px 5px;
}
.chchc:hover{
    border: 2px gray solid;
    box-shadow: gray 5px 5px 5px;
}
.mdph{

    height: 800px;
    float: left;
    width: 30%
}
.size{

    float: left;
}
.container{
    padding-left: 100px;
}

