
body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-size: 1em
}


button {
    overflow: visible
}

button, select {
    text-transform: none
}



legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

html {
    font-size: 100%;
    box-sizing: border-box
}

* , :after, :before {
    box-sizing: inherit
}

body {
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle
}

textarea {
    height: auto;
    min-height: 50px;
    border-radius: 0
}

select {
    width: 100%;
    border-radius: 0
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    line-height: 1
}



.is-visible {
    display: block !important
}

.is-hidden {
    display: none !important
}

.row {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto
}

.row:after, .row:before {
    content: ' ';
    display: table
}

.row:after {
    clear: both
}

.row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0
}

.row .row {
    margin-left: -.625rem;
    margin-right: -.625rem
}



.row .row.collapse {
    margin-left: 0;
    margin-right: 0
}

.row.expanded {
    max-width: none
}

.row.expanded .row {
    margin-left: auto;
    margin-right: auto
}

.column, .columns {
    width: 100%;
    float: left;
    padding-left: .625rem;
    padding-right: .625rem
}


.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right
}

.column.end:last-child:last-child, .end.columns:last-child:last-child {
    float: left
}

.column.row.row, .row.row.columns {
    float: none
}

.row .column.row.row, .row .row.row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0
}

.small-1 {
    width: 8.33333%
}

.small-push-1 {
    position: relative;
    left: 8.33333%
}

.small-pull-1 {
    position: relative;
    left: -8.33333%
}

.small-offset-0 {
    margin-left: 0
}

.small-2 {
    width: 16.66667%
}

.small-push-2 {
    position: relative;
    left: 16.66667%
}

.small-pull-2 {
    position: relative;
    left: -16.66667%
}

.small-offset-1 {
    margin-left: 8.33333%
}

.small-3 {
    width: 25%
}

.small-push-3 {
    position: relative;
    left: 25%
}

.small-pull-3 {
    position: relative;
    left: -25%
}

.small-offset-2 {
    margin-left: 16.66667%
}

.small-4 {
    width: 33.33333%
}

.small-push-4 {
    position: relative;
    left: 33.33333%
}

.small-pull-4 {
    position: relative;
    left: -33.33333%
}

.small-offset-3 {
    margin-left: 25%
}

.small-5 {
    width: 41.66667%
}

.small-push-5 {
    position: relative;
    left: 41.66667%
}

.small-pull-5 {
    position: relative;
    left: -41.66667%
}

.small-offset-4 {
    margin-left: 33.33333%
}

.small-6 {
    width: 50%
}

.small-push-6 {
    position: relative;
    left: 50%
}

.small-pull-6 {
    position: relative;
    left: -50%
}

.small-offset-5 {
    margin-left: 41.66667%
}

.small-7 {
    width: 58.33333%
}

.small-push-7 {
    position: relative;
    left: 58.33333%
}

.small-pull-7 {
    position: relative;
    left: -58.33333%
}

.small-offset-6 {
    margin-left: 50%
}

.small-8 {
    width: 66.66667%
}

.small-push-8 {
    position: relative;
    left: 66.66667%
}

.small-pull-8 {
    position: relative;
    left: -66.66667%
}

.small-offset-7 {
    margin-left: 58.33333%
}

.small-9 {
    width: 75%
}

.small-push-9 {
    position: relative;
    left: 75%
}

.small-pull-9 {
    position: relative;
    left: -75%
}

.small-offset-8 {
    margin-left: 66.66667%
}

.small-10 {
    width: 83.33333%
}

.small-push-10 {
    position: relative;
    left: 83.33333%
}

.small-pull-10 {
    position: relative;
    left: -83.33333%
}

.small-offset-9 {
    margin-left: 75%
}

.small-11 {
    width: 91.66667%
}

.small-push-11 {
    position: relative;
    left: 91.66667%
}

.small-pull-11 {
    position: relative;
    left: -91.66667%
}

.small-offset-10 {
    margin-left: 83.33333%
}

.small-12 {
    width: 100%
}

.small-offset-11 {
    margin-left: 91.66667%
}

.small-up-1 > .column, .small-up-1 > .columns {
    width: 100%;
    float: left
}

.small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) {
    clear: none
}

.small-up-1 > .column:nth-of-type(1n + 1), .small-up-1 > .columns:nth-of-type(1n + 1) {
    clear: both
}

.small-up-1 > .column:last-child, .small-up-1 > .columns:last-child {
    float: left
}

.small-up-2 > .column, .small-up-2 > .columns {
    width: 50%;
    float: left
}

.small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) {
    clear: none
}

.small-up-2 > .column:nth-of-type(2n + 1), .small-up-2 > .columns:nth-of-type(2n + 1) {
    clear: both
}

.small-up-2 > .column:last-child, .small-up-2 > .columns:last-child {
    float: left
}

.small-up-3 > .column, .small-up-3 > .columns {
    width: 33.33333%;
    float: left
}

.small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) {
    clear: none
}

.small-up-3 > .column:nth-of-type(3n + 1), .small-up-3 > .columns:nth-of-type(3n + 1) {
    clear: both
}

.small-up-3 > .column:last-child, .small-up-3 > .columns:last-child {
    float: left
}

.small-up-4 > .column, .small-up-4 > .columns {
    width: 25%;
    float: left
}

.small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) {
    clear: none
}

.small-up-4 > .column:nth-of-type(4n + 1), .small-up-4 > .columns:nth-of-type(4n + 1) {
    clear: both
}

.small-up-4 > .column:last-child, .small-up-4 > .columns:last-child {
    float: left
}

.small-up-5 > .column, .small-up-5 > .columns {
    width: 20%;
    float: left
}

.small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) {
    clear: none
}

.small-up-5 > .column:nth-of-type(5n + 1), .small-up-5 > .columns:nth-of-type(5n + 1) {
    clear: both
}

.small-up-5 > .column:last-child, .small-up-5 > .columns:last-child {
    float: left
}

.small-up-6 > .column, .small-up-6 > .columns {
    width: 16.66667%;
    float: left
}

.small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) {
    clear: none
}

.small-up-6 > .column:nth-of-type(6n + 1), .small-up-6 > .columns:nth-of-type(6n + 1) {
    clear: both
}

.small-up-6 > .column:last-child, .small-up-6 > .columns:last-child {
    float: left
}

.small-up-7 > .column, .small-up-7 > .columns {
    width: 14.28571%;
    float: left
}

.small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) {
    clear: none
}

.small-up-7 > .column:nth-of-type(7n + 1), .small-up-7 > .columns:nth-of-type(7n + 1) {
    clear: both
}

.small-up-7 > .column:last-child, .small-up-7 > .columns:last-child {
    float: left
}

.small-up-8 > .column, .small-up-8 > .columns {
    width: 12.5%;
    float: left
}

.small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) {
    clear: none
}

.small-up-8 > .column:nth-of-type(8n + 1), .small-up-8 > .columns:nth-of-type(8n + 1) {
    clear: both
}

.small-up-8 > .column:last-child, .small-up-8 > .columns:last-child {
    float: left
}

.small-collapse > .column, .small-collapse > .columns {
    padding-left: 0;
    padding-right: 0
}

.expanded.row .small-collapse.row, .small-collapse .row {
    margin-left: 0;
    margin-right: 0
}

.small-uncollapse > .column, .small-uncollapse > .columns {
    padding-left: .625rem;
    padding-right: .625rem
}

.small-centered {
    margin-left: auto;
    margin-right: auto
}

.small-centered, .small-centered:last-child:not(:first-child) {
    float: none;
    clear: both
}

.small-pull-0, .small-push-0, .small-uncentered {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left
}

@media screen and (min-width: 40em) {
    .medium-1 {
        width: 8.33333%
    }

    .medium-push-1 {
        position: relative;
        left: 8.33333%
    }

    .medium-pull-1 {
        position: relative;
        left: -8.33333%
    }

    .medium-offset-0 {
        margin-left: 0
    }

    .medium-2 {
        width: 16.66667%
    }

    .medium-push-2 {
        position: relative;
        left: 16.66667%
    }

    .medium-pull-2 {
        position: relative;
        left: -16.66667%
    }

    .medium-offset-1 {
        margin-left: 8.33333%
    }

    .medium-3 {
        width: 25%
    }

    .medium-push-3 {
        position: relative;
        left: 25%
    }

    .medium-pull-3 {
        position: relative;
        left: -25%
    }

    .medium-offset-2 {
        margin-left: 16.66667%
    }

    .medium-4 {
        width: 33.33333%
    }

    .medium-push-4 {
        position: relative;
        left: 33.33333%
    }

    .medium-pull-4 {
        position: relative;
        left: -33.33333%
    }

    .medium-offset-3 {
        margin-left: 25%
    }

    .medium-5 {
        width: 41.66667%
    }

    .medium-push-5 {
        position: relative;
        left: 41.66667%
    }

    .medium-pull-5 {
        position: relative;
        left: -41.66667%
    }

    .medium-offset-4 {
        margin-left: 33.33333%
    }

    .medium-6 {
        width: 50%
    }

    .medium-push-6 {
        position: relative;
        left: 50%
    }

    .medium-pull-6 {
        position: relative;
        left: -50%
    }

    .medium-offset-5 {
        margin-left: 41.66667%
    }

    .medium-7 {
        width: 58.33333%
    }

    .medium-push-7 {
        position: relative;
        left: 58.33333%
    }

    .medium-pull-7 {
        position: relative;
        left: -58.33333%
    }

    .medium-offset-6 {
        margin-left: 50%
    }

    .medium-8 {
        width: 66.66667%
    }

    .medium-push-8 {
        position: relative;
        left: 66.66667%
    }

    .medium-pull-8 {
        position: relative;
        left: -66.66667%
    }

    .medium-offset-7 {
        margin-left: 58.33333%
    }

    .medium-9 {
        width: 75%
    }

    .medium-push-9 {
        position: relative;
        left: 75%
    }

    .medium-pull-9 {
        position: relative;
        left: -75%
    }

    .medium-offset-8 {
        margin-left: 66.66667%
    }

    .medium-10 {
        width: 83.33333%
    }

    .medium-push-10 {
        position: relative;
        left: 83.33333%
    }

    .medium-pull-10 {
        position: relative;
        left: -83.33333%
    }

    .medium-offset-9 {
        margin-left: 75%
    }

    .medium-11 {
        width: 91.66667%
    }

    .medium-push-11 {
        position: relative;
        left: 91.66667%
    }

    .medium-pull-11 {
        position: relative;
        left: -91.66667%
    }

    .medium-offset-10 {
        margin-left: 83.33333%
    }

    .medium-12 {
        width: 100%
    }

    .medium-offset-11 {
        margin-left: 91.66667%
    }

    .medium-up-1 > .column, .medium-up-1 > .columns {
        width: 100%;
        float: left
    }

    .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-1 > .column:nth-of-type(1n + 1), .medium-up-1 > .columns:nth-of-type(1n + 1) {
        clear: both
    }

    .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
        float: left
    }

    .medium-up-2 > .column, .medium-up-2 > .columns {
        width: 50%;
        float: left
    }

    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-2 > .column:nth-of-type(2n + 1), .medium-up-2 > .columns:nth-of-type(2n + 1) {
        clear: both
    }

    .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
        float: left
    }

    .medium-up-3 > .column, .medium-up-3 > .columns {
        width: 33.33333%;
        float: left
    }

    .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-3 > .column:nth-of-type(3n + 1), .medium-up-3 > .columns:nth-of-type(3n + 1) {
        clear: both
    }

    .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
        float: left
    }

    .medium-up-4 > .column, .medium-up-4 > .columns {
        width: 25%;
        float: left
    }

    .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-4 > .column:nth-of-type(4n + 1), .medium-up-4 > .columns:nth-of-type(4n + 1) {
        clear: both
    }

    .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
        float: left
    }

    .medium-up-5 > .column, .medium-up-5 > .columns {
        width: 20%;
        float: left
    }

    .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-5 > .column:nth-of-type(5n + 1), .medium-up-5 > .columns:nth-of-type(5n + 1) {
        clear: both
    }

    .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
        float: left
    }

    .medium-up-6 > .column, .medium-up-6 > .columns {
        width: 16.66667%;
        float: left
    }

    .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-6 > .column:nth-of-type(6n + 1), .medium-up-6 > .columns:nth-of-type(6n + 1) {
        clear: both
    }

    .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
        float: left
    }

    .medium-up-7 > .column, .medium-up-7 > .columns {
        width: 14.28571%;
        float: left
    }

    .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-7 > .column:nth-of-type(7n + 1), .medium-up-7 > .columns:nth-of-type(7n + 1) {
        clear: both
    }

    .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
        float: left
    }

    .medium-up-8 > .column, .medium-up-8 > .columns {
        width: 12.5%;
        float: left
    }

    .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
        clear: none
    }

    .medium-up-8 > .column:nth-of-type(8n + 1), .medium-up-8 > .columns:nth-of-type(8n + 1) {
        clear: both
    }

    .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
        float: left
    }

    .medium-collapse > .column, .medium-collapse > .columns {
        padding-left: 0;
        padding-right: 0
    }

    .expanded.row .medium-collapse.row, .medium-collapse .row {
        margin-left: 0;
        margin-right: 0
    }

    .medium-uncollapse > .column, .medium-uncollapse > .columns {
        padding-left: .9375rem;
        padding-right: .9375rem
    }

    .medium-centered {
        margin-left: auto;
        margin-right: auto
    }

    .medium-centered, .medium-centered:last-child:not(:first-child) {
        float: none;
        clear: both
    }

    .medium-pull-0, .medium-push-0, .medium-uncentered {
        position: static;
        margin-left: 0;
        margin-right: 0;
        float: left
    }
}


blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre,
td, th, ul {
    margin: 0;
    padding: 0
}

p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility
}

em, i {
    font-style: italic
}

b, em, i, strong {
    line-height: inherit
}

b, strong {
    font-weight: 700
}

small {
    font-size: 80%;
    line-height: inherit
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.4
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #cacaca;
    line-height: 0
}

h1 {
    font-size: 1.5rem
}

h2 {
    font-size: 1.25rem
}

h3 {
    font-size: 1.1875rem
}

h4 {
    font-size: 1.125rem
}

h5 {
    font-size: 1.0625rem
}

h6 {
    font-size: 1rem
}


a {
    color: #2199e8;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer
}

a:focus, a:hover {
    color: #1585cf
}

a img {
    border: 0
}

hr {
    max-width: 75rem;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    margin: 1.25rem auto;
    clear: both
}

dl, ol, ul {
    line-height: 1.6;
    margin-bottom: 1rem;
    list-style-position: outside
}

li {
    font-size: inherit
}

ul {
    list-style-type: disc
}

ol, ul {
    margin-left: 1.25rem
}

ol ol, ol ul, ul ol, ul ul {
    margin-left: 1.25rem;
    margin-bottom: 0
}

dl {
    margin-bottom: 1rem
}

dl dt {
    margin-bottom: .3rem;
    font-weight: 700
}

blockquote {
    margin: 0 0 1rem;
    padding: .5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #cacaca
}

blockquote, blockquote p {
    line-height: 1.6;
    color: #8a8a8a
}

cite {
    display: block;
    font-size: .8125rem;
    color: #8a8a8a
}

cite:before {
    content: '\2014 \0020'
}

abbr {
    color: #0a0a0a;
    cursor: help;
    border-bottom: 1px dotted #0a0a0a
}

code {
    font-weight: 400;
    border: 1px solid #cacaca;
    padding: .125rem .3125rem .0625rem
}

code, kbd {
    color: #0a0a0a;
    background-color: #e6e6e6
}

kbd {
    padding: .125rem .25rem 0;
    margin: 0
}

.subheader {
    margin-top: .2rem;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.4;
    color: #8a8a8a
}

.lead {
    font-size: 125%;
    line-height: 1.6
}

.stat {
    font-size: 2.5rem;
    line-height: 1
}

.no-bullet {
    margin-left: 0;
    list-style: none
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.show-for-print {
    display: none !important
}


.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out, color .25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    background-color: #2199e8;
    color: #fefefe
}

.button:focus, .button:hover {
    background-color: #1583cc;
    color: #fefefe
}

.button.tiny {
    font-size: .6rem
}

.button.small {
    font-size: .75rem
}

.button.large {
    font-size: 1.25rem
}

.button.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0
}


textarea {
    max-width: 100%
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #cacaca
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #cacaca
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #cacaca
}

input::placeholder, textarea::placeholder {
    color: #cacaca
}


label {
    display: block;
    margin: 0;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.8;
    color: #0a0a0a
}

label.middle {
    margin: 0 0 1rem;
    padding: .5625rem 0
}

.help-text {
    margin-top: -.5rem;
    font-size: .8125rem;
    font-style: italic;
    color: #0a0a0a
}

.input-group {
    display: table;
    width: 100%;
    margin-bottom: 1rem
}

.input-group > :first-child, .input-group > :last-child > * {
    border-radius: 0 0 0 0
}

.input-group-button, .input-group-field, .input-group-label {
    margin: 0;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle
}

.input-group-label {
    text-align: center;
    padding: 0 1rem;
    background: #e6e6e6;
    color: #0a0a0a;
    border: 1px solid #cacaca;
    white-space: nowrap;
    width: 1%;
    height: 100%
}

.input-group-label:first-child {
    border-right: 0
}

.input-group-label:last-child {
    border-left: 0
}

.input-group-field {
    border-radius: 0;
    height: 2.5rem
}

.input-group-button {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    height: 100%;
    width: 1%
}

.input-group-button a, .input-group-button button, .input-group-button input {
    margin: 0
}

.input-group .input-group-button {
    display: table-cell
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0
}

legend {
    margin-bottom: .5rem;
    max-width: 100%
}

.fieldset {
    border: 1px solid #cacaca;
    padding: 1.25rem;
    margin: 1.125rem 0
}

.fieldset legend {
    background: #fefefe;
    padding: 0 .1875rem;
    margin: 0;
    margin-left: -.1875rem
}

select {
    height: 2.4375rem;
    padding: .5rem;
    border: 1px solid #cacaca;
    margin: 0 0 1rem;
    font-size: 1rem;
    line-height: normal;
    color: #0a0a0a;
    background-color: #fefefe;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    background-size: 9px 6px;
    background-position: right -1rem center;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding-right: 1.5rem
}


select:disabled {
    background-color: #e6e6e6;
    cursor: not-allowed
}

select::-ms-expand {
    display: none
}

select[multiple] {
    height: auto;
    background-image: none
}

.is-invalid-input:not(:focus) {
    background-color: rgba(236, 88, 64, 0.1);
    border-color: #ec5840
}

.form-error, .is-invalid-label {
    color: #ec5840
}

.form-error {
    display: none;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    font-size: .75rem;
    font-weight: 700
}

.form-error.is-visible {
    display: block
}

.accordion {
    list-style-type: none;
    background: #fefefe;
    margin-left: 0
}

.accordion-item:first-child > :first-child, .accordion-item:last-child > :last-child {
    border-radius: 0 0 0 0
}

.accordion-title {
    display: block;
    padding: 1.25rem 1rem;
    line-height: 1;
    font-size: .75rem;
    color: #2199e8;
    position: relative;
    border: 1px solid #e6e6e6;
    border-bottom: 0
}

:last-child:not(.is-active) > .accordion-title {
    border-radius: 0 0 0 0;
    border-bottom: 1px solid #e6e6e6
}

.accordion-title:focus, .accordion-title:hover {
    background-color: #e6e6e6
}

.accordion-title:before {
    content: '+';
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -.5rem
}

.is-active > .accordion-title:before {
    content: '–'
}

.accordion-content {
    padding: 1rem;
    display: none;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    background-color: #fefefe;
    color: #0a0a0a
}

:last-child > .accordion-content:last-child {
    border-bottom: 1px solid #e6e6e6
}

.is-accordion-submenu-parent > a {
    position: relative
}

.is-accordion-submenu-parent > a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 6px inset;
    border-color: #2199e8 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 1rem
}

.is-accordion-submenu-parent[aria-expanded=true] > a:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1)
}

.badge {
    display: inline-block;
    padding: .3em;
    min-width: 2.1em;
    font-size: .6rem;
    text-align: center;
    border-radius: 50%;
    background: #2199e8;
    color: #fefefe
}

.badge.secondary {
    background: #777;
    color: #fefefe
}

.badge.success {
    background: #3adb76;
    color: #fefefe
}

.badge.warning {
    background: #ffae00;
    color: #fefefe
}

.badge.alert {
    background: #ec5840;
    color: #fefefe
}

.breadcrumbs {
    list-style: none;
    margin: 0 0 1rem
}

.breadcrumbs:after, .breadcrumbs:before {
    content: ' ';
    display: table
}

.breadcrumbs:after {
    clear: both
}

.breadcrumbs li {
    float: left;
    color: #0a0a0a;
    font-size: .6875rem;
    cursor: default;
    text-transform: uppercase
}

.breadcrumbs li:not(:last-child):after {
    color: #cacaca;
    content: "/";
    margin: 0 .75rem;
    position: relative;
    top: 1px;
    opacity: 1
}

.breadcrumbs a {
    color: #2199e8
}

.breadcrumbs a:hover {
    text-decoration: underline
}

.breadcrumbs .disabled {
    color: #cacaca;
    cursor: not-allowed
}

.button-group {
    margin-bottom: 1rem;
    font-size: 0
}

.button-group:after, .button-group:before {
    content: ' ';
    display: table
}

.button-group:after {
    clear: both
}

.button-group .button {
    margin: 0;
    margin-right: 1px;
    margin-bottom: 1px;
    font-size: .9rem
}

.button-group .button:last-child {
    margin-right: 0
}

.button-group.tiny .button {
    font-size: .6rem
}

.button-group.small .button {
    font-size: .75rem
}

.button-group.large .button {
    font-size: 1.25rem
}

.button-group.expanded {
    margin-right: -1px
}

.button-group.expanded:after, .button-group.expanded:before {
    display: none
}

.button-group.expanded .button:first-child:nth-last-child(2),
.button-group.expanded .button:first-child:nth-last-child(2):first-child:nth-last-child(2) ~ .button {
    display: inline-block;
    width: calc(50% - 1px);
    margin-right: 1px
}

.button-group.expanded .button:first-child:nth-last-child(2):first-child:nth-last-child(2) ~ .button:last-child,
.button-group.expanded .button:first-child:nth-last-child(2):last-child {
    margin-right: -6px
}

.button-group.expanded .button:first-child:nth-last-child(3),
.button-group.expanded .button:first-child:nth-last-child(3):first-child:nth-last-child(3) ~ .button {
    display: inline-block;
    width: calc(33.33333% - 1px);
    margin-right: 1px
}

.button-group.expanded .button:first-child:nth-last-child(3):first-child:nth-last-child(3) ~ .button:last-child,
.button-group.expanded .button:first-child:nth-last-child(3):last-child {
    margin-right: -6px
}

.button-group.expanded .button:first-child:nth-last-child(4),
.button-group.expanded .button:first-child:nth-last-child(4):first-child:nth-last-child(4) ~ .button {
    display: inline-block;
    width: calc(25% - 1px);
    margin-right: 1px
}

.button-group.expanded .button:first-child:nth-last-child(4):first-child:nth-last-child(4) ~ .button:last-child,
.button-group.expanded .button:first-child:nth-last-child(4):last-child {
    margin-right: -6px
}

.button-group.expanded .button:first-child:nth-last-child(5),
.button-group.expanded .button:first-child:nth-last-child(5):first-child:nth-last-child(5) ~ .button {
    display: inline-block;
    width: calc(20% - 1px);
    margin-right: 1px
}

.button-group.expanded .button:first-child:nth-last-child(5):first-child:nth-last-child(5) ~ .button:last-child,
.button-group.expanded .button:first-child:nth-last-child(5):last-child {
    margin-right: -6px
}

.button-group.expanded .button:first-child:nth-last-child(6),
.button-group.expanded .button:first-child:nth-last-child(6):first-child:nth-last-child(6) ~ .button {
    display: inline-block;
    width: calc(16.66667% - 1px);
    margin-right: 1px
}

.button-group.expanded .button:first-child:nth-last-child(6):first-child:nth-last-child(6) ~ .button:last-child,
.button-group.expanded .button:first-child:nth-last-child(6):last-child {
    margin-right: -6px
}

.button-group.primary .button {
    background-color: #2199e8;
    color: #fefefe
}

.button-group.primary .button:focus, .button-group.primary .button:hover {
    background-color: #147cc0;
    color: #fefefe
}

.button-group.secondary .button {
    background-color: #777;
    color: #fefefe
}

.button-group.secondary .button:focus, .button-group.secondary .button:hover {
    background-color: #5f5f5f;
    color: #fefefe
}

.button-group.success .button {
    background-color: #3adb76;
    color: #fefefe
}

.button-group.success .button:focus, .button-group.success .button:hover {
    background-color: #22bb5b;
    color: #fefefe
}

.button-group.warning .button {
    background-color: #ffae00;
    color: #fefefe
}

.button-group.warning .button:focus, .button-group.warning .button:hover {
    background-color: #cc8b00;
    color: #fefefe
}

.button-group.alert .button {
    background-color: #ec5840;
    color: #fefefe
}

.button-group.alert .button:focus, .button-group.alert .button:hover {
    background-color: #da3116;
    color: #fefefe
}

.button-group.stacked-for-medium .button, .button-group.stacked-for-small .button,
.button-group.stacked .button {
    width: 100%
}

.button-group.stacked-for-medium .button:last-child, .button-group.stacked-for-small .button:last-child,
.button-group.stacked .button:last-child {
    margin-bottom: 0
}

@media screen and (min-width: 40em) {
    .button-group.stacked-for-small .button {
        width: auto;
        margin-bottom: 0
    }
}

@media screen and (min-width: 64em) {
    .button-group.stacked-for-medium .button {
        width: auto;
        margin-bottom: 0
    }
}

@media screen and (max-width: 39.9375em) {
    .button-group.stacked-for-small.expanded {
        display: block
    }

    .button-group.stacked-for-small.expanded .button {
        display: block;
        margin-right: 0
    }
}

.callout {
    margin: 0 0 1rem;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    position: relative;
    color: #0a0a0a;
    background-color: #fff
}

.callout > :first-child {
    margin-top: 0
}

.callout > :last-child {
    margin-bottom: 0
}

.callout.primary {
    background-color: #def0fc
}

.callout.secondary {
    background-color: #ebebeb
}

.callout.success {
    background-color: #e1faea
}

.callout.warning {
    background-color: #fff3d9
}

.callout.alert {
    background-color: #fce6e2
}

.callout.small {
    padding: .5rem
}

.callout.large {
    padding: 3rem
}

.close-button {
    position: absolute;
    color: #8a8a8a;
    right: 1rem;
    top: .5rem;
    font-size: 2em;
    line-height: 1;
    cursor: pointer
}

[data-whatinput=mouse] .close-button {
    outline: 0
}

.close-button:focus, .close-button:hover {
    color: #0a0a0a
}

.menu {
    margin: 0;
    list-style-type: none
}

.menu > li {
    display: table-cell;
    vertical-align: middle
}

[data-whatinput=mouse] .menu > li {
    outline: 0
}

.menu > li > a {
    display: block;
    padding: .7rem 1rem;
    line-height: 1
}

.menu a, .menu button, .menu input {
    margin-bottom: 0
}

.menu > li > a i, .menu > li > a i + span, .menu > li > a img, .menu > li > a img + span,
.menu > li > a svg, .menu > li > a svg + span {
    vertical-align: middle
}

.menu > li > a i, .menu > li > a img, .menu > li > a svg {
    margin-right: .25rem;
    display: inline-block
}

.menu > li {
    display: table-cell
}

.menu.vertical > li {
    display: block
}

@media screen and (min-width: 40em) {
    .menu.medium-horizontal > li {
        display: table-cell
    }

    .menu.medium-vertical > li {
        display: block
    }
}

@media screen and (min-width: 64em) {
    .menu.large-horizontal > li {
        display: table-cell
    }

    .menu.large-vertical > li {
        display: block
    }
}

.menu.simple li {
    line-height: 1;
    display: inline-block;
    margin-right: 1rem
}

.menu.simple a {
    padding: 0
}

.menu.align-right:after, .menu.align-right:before {
    content: ' ';
    display: table
}

.menu.align-right:after {
    clear: both
}

.menu.align-right > li {
    float: right
}

.menu.expanded {
    width: 100%;
    display: table;
    table-layout: fixed
}

.menu.expanded > li:first-child:last-child {
    width: 100%
}

.menu.icon-top > li > a {
    text-align: center
}

.menu.icon-top > li > a i, .menu.icon-top > li > a img, .menu.icon-top > li > a svg {
    display: block;
    margin: 0 auto .25rem
}

.menu.nested {
    margin-left: 1rem
}

.menu .active > a {
    color: #fefefe;
    background: #2199e8
}

.menu-text {
    font-weight: 700;
    color: inherit;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
    padding: .7rem 1rem
}

.menu-centered {
    text-align: center
}

.menu-centered > .menu {
    display: inline-block
}

.no-js [data-responsive-menu] ul {
    display: none
}

.menu-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 20px;
    height: 16px
}

.menu-icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #fefefe;
    top: 0;
    left: 0;
    box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe
}

.menu-icon:hover:after {
    background: #cacaca;
    box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca
}

.menu-icon.dark {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 20px;
    height: 16px
}

.menu-icon.dark:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #0a0a0a;
    top: 0;
    left: 0;
    box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a
}

.menu-icon.dark:hover:after {
    background: #8a8a8a;
    box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a
}

.is-drilldown {
    position: relative;
    overflow: hidden
}

.is-drilldown li {
    display: block !important
}

.is-drilldown-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: -1;
    width: 100%;
    background: #fefefe;
    transition: -webkit-transform .15s linear;
    transition: transform .15s linear
}

.is-drilldown-submenu.is-active {
    z-index: 1;
    display: block;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.is-drilldown-submenu.is-closing {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.is-drilldown-submenu-parent > a {
    position: relative
}

.is-drilldown-submenu-parent > a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 6px inset;
    border-color: transparent transparent transparent #2199e8;
    border-left-style: solid;
    border-right-width: 0;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 1rem
}

.js-drilldown-back > a:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 6px inset;
    border-color: transparent #2199e8 transparent transparent;
    border-right-style: solid;
    border-left-width: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: .75rem
}

.dropdown-pane {
    background-color: #fefefe;
    border: 1px solid #cacaca;
    border-radius: 0;
    display: block;
    font-size: 1rem;
    padding: 1rem;
    position: absolute;
    visibility: hidden;
    width: 300px;
    z-index: 3
}

.dropdown-pane.is-open {
    visibility: visible
}

.dropdown-pane.tiny {
    width: 100px
}

.dropdown-pane.small {
    width: 200px
}

.dropdown-pane.large {
    width: 400px
}

.dropdown.menu > li.opens-left > .is-dropdown-submenu {
    left: auto;
    right: 0;
    top: 100%
}

.dropdown.menu > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 0;
    top: 100%
}

.dropdown.menu > li.is-dropdown-submenu-parent > a {
    padding-right: 1.5rem;
    position: relative
}

.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px inset;
    border-color: #2199e8 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    right: 5px;
    margin-top: -2px
}

[data-whatinput=mouse] .dropdown.menu a {
    outline: 0
}

.no-js .dropdown.menu ul {
    display: none
}

.dropdown.menu.vertical > li .is-dropdown-submenu {
    top: 0
}

.dropdown.menu.vertical > li.opens-left > .is-dropdown-submenu {
    left: auto;
    right: 100%
}

.dropdown.menu.vertical > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%
}

.dropdown.menu.vertical > li > a:after {
    right: 14px;
    margin-top: -3px
}

.dropdown.menu.vertical > li.opens-left > a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px inset;
    border-color: transparent #2199e8 transparent transparent;
    border-right-style: solid;
    border-left-width: 0
}

.dropdown.menu.vertical > li.opens-right > a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px inset;
    border-color: transparent transparent transparent #2199e8;
    border-left-style: solid;
    border-right-width: 0
}

@media screen and (min-width: 40em) {
    .dropdown.menu.medium-horizontal > li.opens-left > .is-dropdown-submenu {
        left: auto;
        right: 0;
        top: 100%
    }

    .dropdown.menu.medium-horizontal > li.opens-right > .is-dropdown-submenu {
        right: auto;
        left: 0;
        top: 100%
    }

    .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
        padding-right: 1.5rem;
        position: relative
    }

    .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 5px inset;
        border-color: #2199e8 transparent transparent;
        border-top-style: solid;
        border-bottom-width: 0;
        right: 5px;
        margin-top: -2px
    }

    .dropdown.menu.medium-vertical > li .is-dropdown-submenu {
        top: 0
    }

    .dropdown.menu.medium-vertical > li.opens-left > .is-dropdown-submenu {
        left: auto;
        right: 100%
    }

    .dropdown.menu.medium-vertical > li.opens-right > .is-dropdown-submenu {
        right: auto;
        left: 100%
    }

    .dropdown.menu.medium-vertical > li > a:after {
        right: 14px;
        margin-top: -3px
    }

    .dropdown.menu.medium-vertical > li.opens-left > a:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 5px inset;
        border-color: transparent #2199e8 transparent transparent;
        border-right-style: solid;
        border-left-width: 0
    }

    .dropdown.menu.medium-vertical > li.opens-right > a:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 5px inset;
        border-color: transparent transparent transparent #2199e8;
        border-left-style: solid;
        border-right-width: 0
    }
}

@media screen and (min-width: 64em) {
    .dropdown.menu.large-horizontal > li.opens-left > .is-dropdown-submenu {
        left: auto;
        right: 0;
        top: 100%
    }

    .dropdown.menu.large-horizontal > li.opens-right > .is-dropdown-submenu {
        right: auto;
        left: 0;
        top: 100%
    }

    .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a {
        padding-right: 1.5rem;
        position: relative
    }

    .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 5px inset;
        border-color: #2199e8 transparent transparent;
        border-top-style: solid;
        border-bottom-width: 0;
        right: 5px;
        margin-top: -2px
    }

    .dropdown.menu.large-vertical > li .is-dropdown-submenu {
        top: 0
    }

    .dropdown.menu.large-vertical > li.opens-left > .is-dropdown-submenu {
        left: auto;
        right: 100%
    }

    .dropdown.menu.large-vertical > li.opens-right > .is-dropdown-submenu {
        right: auto;
        left: 100%
    }

    .dropdown.menu.large-vertical > li > a:after {
        right: 14px;
        margin-top: -3px
    }

    .dropdown.menu.large-vertical > li.opens-left > a:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 5px inset;
        border-color: transparent #2199e8 transparent transparent;
        border-right-style: solid;
        border-left-width: 0
    }

    .dropdown.menu.large-vertical > li.opens-right > a:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 5px inset;
        border-color: transparent transparent transparent #2199e8;
        border-left-style: solid;
        border-right-width: 0
    }
}

.dropdown.menu.align-right .is-dropdown-submenu.first-sub {
    top: 100%;
    left: auto;
    right: 0
}

.is-dropdown-menu.vertical {
    width: 100px
}

.is-dropdown-menu.vertical.align-right {
    float: right
}

.is-dropdown-submenu-parent {
    position: relative
}

.is-dropdown-submenu-parent a:after {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px
}

.is-dropdown-submenu-parent.opens-inner > .is-dropdown-submenu {
    top: 100%;
    left: auto
}

.is-dropdown-submenu-parent.opens-left > .is-dropdown-submenu {
    left: auto;
    right: 100%
}

.is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%
}

.is-dropdown-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 200px;
    z-index: 1;
    background: #fefefe;
    border: 1px solid #cacaca
}

.is-dropdown-submenu .is-dropdown-submenu-parent > a:after {
    right: 14px;
    margin-top: -3px
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px inset;
    border-color: transparent #2199e8 transparent transparent;
    border-right-style: solid;
    border-left-width: 0
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px inset;
    border-color: transparent transparent transparent #2199e8;
    border-left-style: solid;
    border-right-width: 0
}

.is-dropdown-submenu .is-dropdown-submenu {
    margin-top: -1px
}

.is-dropdown-submenu > li {
    width: 100%
}

.is-dropdown-submenu.js-dropdown-active {
    display: block
}

.flex-video {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    margin-bottom: 1rem;
    overflow: hidden
}

.flex-video embed, .flex-video iframe, .flex-video object, .flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.flex-video.widescreen {
    padding-bottom: 56.25%
}

.flex-video.vimeo {
    padding-top: 0
}

.label {
    display: inline-block;
    padding: .33333rem .5rem;
    font-size: .8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    border-radius: 0;
    background: #2199e8;
    color: #fefefe
}

.label.secondary {
    background: #777;
    color: #fefefe
}

.label.success {
    background: #3adb76;
    color: #fefefe
}

.label.warning {
    background: #ffae00;
    color: #fefefe
}

.label.alert {
    background: #ec5840;
    color: #fefefe
}

.media-object {
    margin-bottom: 1rem;
    display: block
}

.media-object img {
    max-width: none
}

@media screen and (max-width: 39.9375em) {
    .media-object.stack-for-small .media-object-section {
        padding: 0;
        padding-bottom: 1rem;
        display: block
    }

    .media-object.stack-for-small .media-object-section img {
        width: 100%
    }
}

.media-object-section {
    display: table-cell;
    vertical-align: top
}

.media-object-section:first-child {
    padding-right: 1rem
}

.media-object-section:last-child:not(:nth-child(2)) {
    padding-left: 1rem
}

.media-object-section > :last-child {
    margin-bottom: 0
}

.media-object-section.middle {
    vertical-align: middle
}

.media-object-section.bottom {
    vertical-align: bottom
}

body, html {
    height: 100%
}

.off-canvas-wrapper {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: auto
}

.off-canvas-wrapper-inner {
    position: relative;
    width: 100%;
    min-height: 100%;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease
}

.off-canvas-wrapper-inner:after, .off-canvas-wrapper-inner:before {
    content: ' ';
    display: table
}

.off-canvas-wrapper-inner:after {
    clear: both
}

.off-canvas-content {
    min-height: 100%;
    background: #fefefe;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    padding-bottom: .1px;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.5)
}

.js-off-canvas-exit {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    transition: background .5s ease
}

.off-canvas {
    position: absolute;
    background: #e6e6e6;
    z-index: -1;
    max-height: 100%;
    overflow-y: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

[data-whatinput=mouse] .off-canvas {
    outline: 0
}

.off-canvas.position-left {
    left: -250px;
    top: 0;
    width: 250px
}

.is-open-left {
    -webkit-transform: translateX(250px);
    transform: translateX(250px)
}

.off-canvas.position-right {
    right: -250px;
    top: 0;
    width: 250px
}

.is-open-right {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px)
}

@media screen and (min-width: 40em) {
    .position-left.reveal-for-medium {
        left: 0;
        z-index: auto;
        position: fixed
    }

    .position-left.reveal-for-medium ~ .off-canvas-content {
        margin-left: 250px
    }

    .position-right.reveal-for-medium {
        right: 0;
        z-index: auto;
        position: fixed
    }

    .position-right.reveal-for-medium ~ .off-canvas-content {
        margin-right: 250px
    }
}

@media screen and (min-width: 64em) {
    .position-left.reveal-for-large {
        left: 0;
        z-index: auto;
        position: fixed
    }

    .position-left.reveal-for-large ~ .off-canvas-content {
        margin-left: 250px
    }

    .position-right.reveal-for-large {
        right: 0;
        z-index: auto;
        position: fixed
    }

    .position-right.reveal-for-large ~ .off-canvas-content {
        margin-right: 250px
    }
}

.orbit, .orbit-container {
    position: relative
}

.orbit-container {
    margin: 0;
    overflow: hidden;
    list-style: none
}

.orbit-slide {
    width: 100%;
    max-height: 100%
}

.orbit-slide.no-motionui.is-active {
    top: 0;
    left: 0
}

.orbit-figure {
    margin: 0
}

.orbit-image {
    margin: 0;
    width: 100%;
    max-width: 100%
}

.orbit-caption {
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: rgba(10, 10, 10, 0.5)
}

.orbit-caption, .orbit-next, .orbit-previous {
    position: absolute;
    padding: 1rem;
    color: #fefefe
}

.orbit-next, .orbit-previous {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3
}

[data-whatinput=mouse] .orbit-next, [data-whatinput=mouse] .orbit-previous {
    outline: 0
}

.orbit-next:active, .orbit-next:focus, .orbit-next:hover, .orbit-previous:active,
.orbit-previous:focus, .orbit-previous:hover {
    background-color: rgba(10, 10, 10, 0.5)
}

.orbit-previous {
    left: 0
}

.orbit-next {
    left: auto;
    right: 0
}

.orbit-bullets {
    position: relative;
    margin-top: .8rem;
    margin-bottom: .8rem;
    text-align: center
}

[data-whatinput=mouse] .orbit-bullets {
    outline: 0
}

.orbit-bullets button {
    width: 1.2rem;
    height: 1.2rem;
    margin: .1rem;
    background-color: #cacaca;
    border-radius: 50%
}

.orbit-bullets button.is-active, .orbit-bullets button:hover {
    background-color: #8a8a8a
}

.pagination {
    margin-left: 0;
    margin-bottom: 1rem
}

.pagination:after, .pagination:before {
    content: ' ';
    display: table
}

.pagination:after {
    clear: both
}

.pagination li {
    font-size: .875rem;
    margin-right: .0625rem;
    border-radius: 0;
    display: none
}

.pagination li:first-child, .pagination li:last-child {
    display: inline-block
}

@media screen and (min-width: 40em) {
    .pagination li {
        display: inline-block
    }
}

.pagination a, .pagination button {
    color: #0a0a0a;
    display: block;
    padding: .1875rem .625rem;
    border-radius: 0
}

.pagination a:hover, .pagination button:hover {
    background: #e6e6e6
}

.pagination .current {
    padding: .1875rem .625rem;
    background: #2199e8;
    color: #fefefe;
    cursor: default
}

.pagination .disabled {
    padding: .1875rem .625rem;
    color: #cacaca;
    cursor: not-allowed
}

.pagination .disabled:hover {
    background: transparent
}

.pagination .ellipsis:after {
    content: '\2026';
    padding: .1875rem .625rem;
    color: #0a0a0a
}

.pagination-previous.disabled:before, .pagination-previous a:before {
    content: '\00ab';
    display: inline-block;
    margin-right: .5rem
}

.pagination-next.disabled:after, .pagination-next a:after {
    content: '\00bb';
    display: inline-block;
    margin-left: .5rem
}

.progress {
    background-color: #cacaca;
    height: 1rem;
    margin-bottom: 1rem;
    border-radius: 0
}

.progress.primary .progress-meter {
    background-color: #2199e8
}

.progress.secondary .progress-meter {
    background-color: #777
}

.progress.success .progress-meter {
    background-color: #3adb76
}

.progress.warning .progress-meter {
    background-color: #ffae00
}

.progress.alert .progress-meter {
    background-color: #ec5840
}

.progress-meter {
    position: relative;
    display: block;
    width: 0;
    height: 100%;
    background-color: #2199e8
}

.progress-meter-text {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0;
    font-size: .75rem;
    font-weight: 700;
    color: #fefefe;
    white-space: nowrap
}

body.is-reveal-open {
    overflow: hidden
}

html.is-reveal-open, html.is-reveal-open body {
    min-height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.reveal-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: rgba(10, 10, 10, 0.45);
    overflow-y: scroll
}

.reveal {
    display: none;
    z-index: 5;
    padding: 1rem;
    border: 1px solid #cacaca;
    background-color: #fefefe;
    border-radius: 0;
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto
}

[data-whatinput=mouse] .reveal {
    outline: 0
}

@media screen and (min-width: 40em) {
    .reveal {
        min-height: 0
    }
}

.reveal .column, .reveal .columns {
    min-width: 0
}

.reveal > :last-child {
    margin-bottom: 0
}

@media screen and (min-width: 40em) {
    .reveal {
        width: 600px;
        max-width: 75rem
    }
}

@media screen and (min-width: 40em) {
    .reveal .reveal {
        left: auto;
        right: auto;
        margin: 0 auto
    }
}

.reveal.collapse {
    padding: 0
}

@media screen and (min-width: 40em) {
    .reveal.tiny {
        width: 30%;
        max-width: 75rem
    }
}

@media screen and (min-width: 40em) {
    .reveal.small {
        width: 50%;
        max-width: 75rem
    }
}

@media screen and (min-width: 40em) {
    .reveal.large {
        width: 90%;
        max-width: 75rem
    }
}

.reveal.full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    min-height: 100vh;
    max-width: none;
    margin-left: 0;
    border: 0;
    border-radius: 0
}


.reveal.without-overlay {
    position: fixed
}

.slider {
    position: relative;
    height: .5rem;
    margin-top: 1.25rem;
    margin-bottom: 2.25rem;
    background-color: #e6e6e6;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none
}

.slider-fill {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    max-width: 100%;
    height: .5rem;
    background-color: #cacaca;
    transition: all .2s ease-in-out
}

.slider-fill.is-dragging {
    transition: all 0s linear
}

.slider-handle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    z-index: 1;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: #2199e8;
    transition: all .2s ease-in-out;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border-radius: 0
}

[data-whatinput=mouse] .slider-handle {
    outline: 0
}

.slider-handle:hover {
    background-color: #1583cc
}

.slider-handle.is-dragging {
    transition: all 0s linear
}

.slider.disabled, .slider[disabled] {
    opacity: .25;
    cursor: not-allowed
}

.slider.vertical {
    display: inline-block;
    width: .5rem;
    height: 12.5rem;
    margin: 0 1.25rem;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1)
}

.slider.vertical .slider-fill {
    top: 0;
    width: .5rem;
    max-height: 100%
}

.slider.vertical .slider-handle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1.4rem;
    height: 1.4rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.sticky-container {
    position: relative
}

.sticky {
    position: absolute;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.sticky.is-stuck {
    position: fixed;
    z-index: 2
}

.sticky.is-stuck.is-at-top {
    top: 0
}

.sticky.is-stuck.is-at-bottom {
    bottom: 0
}

.sticky.is-anchored {
    position: absolute;
    left: auto;
    right: auto
}

.sticky.is-anchored.is-at-bottom {
    bottom: 0
}

.switch {
    height: 2rem;
    margin-bottom: 1rem;
    outline: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fefefe;
    font-weight: 700;
    font-size: .875rem
}

.switch-input {
    opacity: 0;
    position: absolute;
    margin-bottom: 0
}

.switch-paddle {
    background: #cacaca;
    cursor: pointer;
    display: block;
    position: relative;
    width: 4rem;
    height: 2rem;
    transition: all .25s ease-out;
    border-radius: 0;
    color: inherit;
    font-weight: inherit
}

input + .switch-paddle {
    margin: 0
}

.switch-paddle:after {
    background: #fefefe;
    content: '';
    display: block;
    position: absolute;
    height: 1.5rem;
    left: .25rem;
    top: .25rem;
    width: 1.5rem;
    transition: all .25s ease-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-radius: 0
}

input:checked ~ .switch-paddle {
    background: #2199e8
}

input:checked ~ .switch-paddle:after {
    left: 2.25rem
}

[data-whatinput=mouse] input:focus ~ .switch-paddle {
    outline: 0
}

.switch-active, .switch-inactive {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.switch-active {
    left: 8%;
    display: none
}

input:checked + label > .switch-active {
    display: block
}

.switch-inactive {
    right: 15%
}

input:checked + label > .switch-inactive {
    display: none
}

.switch.tiny {
    height: 1.5rem
}

.switch.tiny .switch-paddle {
    width: 3rem;
    height: 1.5rem;
    font-size: .625rem
}

.switch.tiny .switch-paddle:after {
    width: 1rem;
    height: 1rem
}

.switch.tiny input:checked ~ .switch-paddle:after {
    left: 1.75rem
}

.switch.small {
    height: 1.75rem
}

.switch.small .switch-paddle {
    width: 3.5rem;
    height: 1.75rem;
    font-size: .75rem
}

.switch.small .switch-paddle:after {
    width: 1.25rem;
    height: 1.25rem
}

.switch.small input:checked ~ .switch-paddle:after {
    left: 2rem
}

.switch.large {
    height: 2.5rem
}

.switch.large .switch-paddle {
    width: 5rem;
    height: 2.5rem;
    font-size: 1rem
}

.switch.large .switch-paddle:after {
    width: 2rem;
    height: 2rem
}

.switch.large input:checked ~ .switch-paddle:after {
    left: 2.75rem
}

table {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0
}

table tbody, table tfoot, table thead {
    border: 1px solid #f1f1f1;
    background-color: #fefefe
}

table caption {
    font-weight: 700;
    padding: .5rem .625rem .625rem
}

table thead {
    background: #f8f8f8;
    color: #0a0a0a
}

table tfoot {
    background: #f1f1f1;
    color: #0a0a0a
}

table tfoot tr, table thead tr {
    background: transparent
}

table tfoot td, table tfoot th, table thead td, table thead th {
    padding: .5rem .625rem .625rem;
    font-weight: 700;
    text-align: left
}

table tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

table tbody td, table tbody th {
    padding: .5rem .625rem .625rem
}



table.scroll {
    display: block;
    width: 100%;
    overflow-x: auto
}

table.hover thead tr:hover {
    background-color: #f3f3f3
}

table.hover tfoot tr:hover {
    background-color: #ececec
}

table.hover tbody tr:hover {
    background-color: #f9f9f9
}

table.hover tbody tr:nth-of-type(even):hover {
    background-color: #ececec
}

.table-scroll {
    overflow-x: auto
}

.table-scroll table {
    width: auto
}

.tabs {
    margin: 0;
    list-style-type: none;
    background: #fefefe;
    border: 1px solid #e6e6e6
}

.tabs:after, .tabs:before {
    content: ' ';
    display: table
}

.tabs:after {
    clear: both
}

.tabs.vertical > li {
    width: auto;
    float: none;
    display: block
}

.tabs.simple > li > a {
    padding: 0
}

.tabs.simple > li > a:hover {
    background: transparent
}

.tabs.primary {
    background: #2199e8
}

.tabs.primary > li > a {
    color: #fefefe
}

.tabs.primary > li > a:focus, .tabs.primary > li > a:hover {
    background: #1893e4
}

.tabs-title {
    float: left
}

.tabs-title > a {
    display: block;
    padding: 1.25rem 1.5rem;
    line-height: 1;
    font-size: .75rem
}

.tabs-title > a:hover {
    background: #fefefe
}

.tabs-title > a:focus, .tabs-title > a[aria-selected=true] {
    background: #e6e6e6
}

.tabs-content {
    background: #fefefe;
    transition: all .5s ease;
    border: 1px solid #e6e6e6;
    border-top: 0
}

.tabs-content.vertical {
    border: 1px solid #e6e6e6;
    border-left: 0
}

.tabs-panel {
    display: none;
    padding: 1rem
}

.tabs-panel.is-active {
    display: block
}

.thumbnail {
    border: 4px solid #fefefe;
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    transition: box-shadow .2s ease-out;
    border-radius: 0;
    margin-bottom: 1rem
}

.thumbnail:focus, .thumbnail:hover {
    box-shadow: 0 0 6px 1px rgba(33, 153, 232, 0.5)
}

.title-bar {
    background: #0a0a0a;
    color: #fefefe;
    padding: .5rem
}

.title-bar:after, .title-bar:before {
    content: ' ';
    display: table
}

.title-bar:after {
    clear: both
}

.title-bar .menu-icon {
    margin-left: .25rem;
    margin-right: .25rem
}

.title-bar-left {
    float: left
}

.title-bar-right {
    float: right;
    text-align: right
}

.title-bar-title {
    vertical-align: middle
}

.has-tip, .title-bar-title {
    font-weight: 700;
    display: inline-block
}

.has-tip {
    border-bottom: 1px dotted #8a8a8a;
    position: relative;
    cursor: help
}

.tooltip {
    background-color: #0a0a0a;
    color: #fefefe;
    font-size: 80%;
    padding: .75rem;
    position: absolute;
    z-index: 3;
    top: calc(100% + .6495rem);
    max-width: 10rem !important;
    border-radius: 0
}

.tooltip:before {
    border-color: transparent transparent #0a0a0a;
    border-bottom-style: solid;
    border-top-width: 0;
    bottom: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.tooltip.top:before, .tooltip:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: .75rem inset
}

.tooltip.top:before {
    border-color: #0a0a0a transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto
}

.tooltip.left:before {
    border-color: transparent transparent transparent #0a0a0a;
    border-left-style: solid;
    border-right-width: 0;
    left: 100%
}

.tooltip.left:before, .tooltip.right:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: .75rem inset;
    bottom: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.tooltip.right:before {
    border-color: transparent #0a0a0a transparent transparent;
    border-right-style: solid;
    border-left-width: 0;
    left: auto;
    right: 100%
}

.top-bar {
    padding: .5rem
}

.top-bar:after, .top-bar:before {
    content: ' ';
    display: table
}

.top-bar:after {
    clear: both
}

.top-bar, .top-bar ul {
    background-color: #e6e6e6
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
    width: 100%
}



.top-bar-title {
    float: left;
    margin-right: 1rem
}

.top-bar-left {
    float: left
}

.top-bar-right {
    float: right
}

.hide {
    display: none !important
}

.invisible {
    visibility: hidden
}


.show-for-sr, .show-on-focus {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0)
}

.show-on-focus:active, .show-on-focus:focus {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto
}

.hide-for-portrait, .show-for-landscape {
    display: block !important
}


.hide-for-landscape, .show-for-portrait {
    display: none !important
}

.float-left {
    float: left !important
}

.float-right {
    float: right !important
}

.float-center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.clearfix:after, .clearfix:before {
    content: ' ';
    display: table
}

.clearfix:after {
    clear: both
}




.bigfoot-footnote__button {
    position: relative;
    z-index: 5;
    top: -0.1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    padding: 0.35em;
    margin: 0 0.1em 0 0.2em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    background-color: rgba(110, 110, 110, 0.2);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 1rem;
    line-height: 0;
    vertical-align: middle;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s
}

.bigfoot-footnote__button:hover, .bigfoot-footnote__button:focus {
    outline: none;
    background-color: rgba(110, 110, 110, 0.5)
}

.bigfoot-footnote__button:active {
    background-color: rgba(110, 110, 110, 0.5)
}


.bigfoot-footnote__button:after {
    content: '';
    display: table;
    clear: both
}

.bigfoot-footnote__button__circle {
    display: inline-block;
    width: 0.25em;
    height: 0.25em;
    margin-right: 0.25em;
    float: left
}

.bigfoot-footnote__button__circle:last-child {
    margin-right: 0
}

.bigfoot-footnote__container {
    display: inline-block;
    position: relative;
    text-indent: 0
}


.bigfoot-footnote {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    max-width: 90%;
    margin: 1.96924em 0;
    background: #fafafa;
    opacity: 0;
    border-radius: 0.5em;
    border: 1px solid #c3c3c3;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    line-height: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transform: scale(0.1) translateZ(0);
    transform: scale(0.1) translateZ(0);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0
}

.bigfoot-footnote.is-positioned-top {
    top: auto;
    bottom: 0
}

.bigfoot-footnote.is-active {
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    opacity: 0.97
}

.bigfoot-footnote.is-bottom-fixed {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: auto;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    width: 100%;
    margin: 0;
    border-radius: 0;
    opacity: 1;
    border-width: 1px 0 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease
}

.bigfoot-footnote.is-bottom-fixed.is-active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
    margin: 0 0 0 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 100%
}

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper,
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__content {
    border-radius: 0
}

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__tooltip {
    display: none
}

.bigfoot-footnote.is-scrollable:after {
    content: '';
    position: absolute;
    bottom: 0.3375em;
    left: 0.3375em;
    z-index: 14;
    display: block;
    height: 0.78125em;
    width: 0.625em;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
    background-size: cover;
    opacity: 0.1;
    transition-properties: opacity;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before,
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
    content: '';
    position: absolute;
    width: 100%;
    z-index: 12;
    left: 0
}

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
    top: -1px;
    height: 1.1em;
    border-radius: 0.5em 0.5em 0 0;
    background-image: -webkit-linear-gradient(top, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
    background-image: linear-gradient(to bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%)
}

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
    bottom: -1px;
    height: 1.2em;
    border-radius: 0 0 0.5em 0.5em;
    background-image: -webkit-linear-gradient(bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
    background-image: linear-gradient(to top, #fafafa 50%, rgba(250, 250, 250, 0) 100%)
}

.bigfoot-footnote.is-scrollable ::-webkit-scrollbar {
    display: none
}


.bigfoot-footnote__wrapper {
    position: relative;
    z-index: 14;
    width: 22em;
    display: inline-block;
    box-sizing: inherit;
    overflow: hidden;
    margin: 0;
    background-color: #fafafa;
    border-radius: 0.5em;
    line-height: 0
}

.bigfoot-footnote__content {
    position: relative;
    z-index: 8;
    display: inline-block;
    max-height: 15em;
    padding: 1.1em 1.3em 1.2em;
    box-sizing: inherit;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #fafafa;
    border-radius: 0.5em;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: normal
}

.bigfoot-footnote__content img {
    max-width: 100%
}

.bigfoot-footnote__content * :last-child {
    margin-bottom: 0 !important
}

.bigfoot-footnote__content * :first-child {
    margin-top: 0 !important
}

.bigfoot-footnote__tooltip {
    position: absolute;
    z-index: 12;
    box-sizing: border-box;
    margin-left: -0.65em;
    width: 1.3em;
    height: 1.3em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fafafa;
    border: 1px solid #c3c3c3;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 0
}

.is-positioned-bottom .bigfoot-footnote__tooltip {
    top: -0.65em
}

.is-positioned-top .bigfoot-footnote__tooltip {
    bottom: -0.65em
}


.slideOutUp {
    animation-name: slideOutUp
}

.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.flip-clock-wrapper a {
    cursor: pointer;
    text-decoration: none;
    color: #ccc
}

.flip-clock-wrapper a:hover {
    color: #fff
}

.flip-clock-wrapper ul {
    list-style: none
}

.flip-clock-wrapper.clearfix:before, .flip-clock-wrapper.clearfix:after {
    content: " ";
    display: table
}

.flip-clock-wrapper.clearfix:after {
    clear: both
}

.flip-clock-wrapper.clearfix {
    * zoom: 1
}

.flip-clock-wrapper {
    font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
    -webkit-user-select: none
}

.flip-clock-meridium {
    background: none !important;
    box-shadow: 0 0 0 !important;
    font-size: 36px !important
}

.flip-clock-meridium a {
    color: #313333
}

.flip-clock-wrapper {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 1em
}

.flip-clock-wrapper:before, .flip-clock-wrapper:after {
    content: " ";
    display: table
}

.flip-clock-wrapper:after {
    clear: both
}

.flip-clock-wrapper ul {
    position: relative;
    float: left;
    margin: 5px;
    width: 60px;
    height: 90px;
    font-size: 80px;
    font-weight: bold;
    line-height: 87px;
    border-radius: 6px;
    background: #000
}

.flip-clock-wrapper ul li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 87px;
    text-decoration: none !important
}

.flip-clock-wrapper ul li:first-child {
    z-index: 2
}

.flip-clock-wrapper ul li a {
    display: block;
    height: 100%;
    -webkit-perspective: 200px;
    -moz-perspective: 200px;
    perspective: 200px;
    margin: 0 !important;
    overflow: visible !important;
    cursor: default !important
}

.flip-clock-wrapper ul li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    font-size: 80px;
    overflow: hidden;
    outline: 1px solid transparent
}

.flip-clock-wrapper ul li a div .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2
}

.flip-clock-wrapper ul li a div.up {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    top: 0
}

.flip-clock-wrapper ul li a div.up:after {
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 3px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4)
}

.flip-clock-wrapper ul li a div.down {
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    bottom: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #1d1d1d;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 6px;
    font-size: 70px
}

.flip-clock-wrapper ul li a div.up div.inn {
    top: 0
}

.flip-clock-wrapper ul li a div.down div.inn {
    bottom: 0
}

.flip-clock-wrapper ul.play li.flip-clock-before {
    z-index: 3
}

.flip-clock-wrapper .flip {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7)
}

.flip-clock-wrapper ul.play li.flip-clock-active {
    -webkit-animation: asd 0.5s 0.5s linear both;
    -moz-animation: asd 0.5s 0.5s linear both;
    animation: asd 0.5s 0.5s linear both;
    z-index: 5
}

.flip-clock-divider {
    float: left;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 100px
}

.flip-clock-divider:first-child {
    width: 0
}

.flip-clock-dot {
    display: block;
    background: #f1f1f1;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    left: 5px
}

.flip-clock-divider .flip-clock-label {
    position: absolute;
    top: -1.5em;
    right: -86px;
    color: #FFF;
    text-shadow: none
}

.flip-clock-divider.minutes .flip-clock-label {
    right: -98px
}

.flip-clock-divider.seconds .flip-clock-label {
    right: -101px
}

.flip-clock-dot.top {
    top: 30px
}

.flip-clock-dot.bottom {
    bottom: 30px
}



.flip-clock-wrapper ul.play li.flip-clock-active .down {
    z-index: 2;
    -webkit-animation: turn 0.5s 0.5s linear both;
    -moz-animation: turn 0.5s 0.5s linear both;
    animation: turn 0.5s 0.5s linear both
}

body {
    font-family: "Verdana";
}

h1, h2, h3, h4, h5, h6, .button {
    font-family: "Arial";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    line-height: 1.6;
    text-transform: capitalize;
    margin: 2rem 0 2rem 0;
    color: #191e23
}

.text h1, .text h2, .text h3, .text h4, .text h5, .text h6 {
    text-align: center
}

.dark h2, .dark h3 {
    color: #FFF;
    margin: 0
}

h2.underline:after, h3.underline:after {
    width: 40%;
    height: 4px;
    content: "";
    border-radius: 2px;
    background: #3acda3;
    display: block;
    margin: 1rem 0
}

h2 small, h3 small {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    display: block;
    margin: 0 0 1rem 0;
    font-weight: 800
}

.dark h2 small, .dark h3 small {
    color: #6c6c6c
}

.text-center h2.underline:after, .text-center h3.underline:after,
h2.text-center.underline:after, h3.text-center.underline:after {
    margin: 1rem auto 2rem auto
}

h1, h2 {
    font-size: 2.5rem
}

h3 {
    font-size: 1.5rem
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #333
}

p strong {
    color: #191e23
}

.dark p {
    color: #f8f8f8
}

.dark p strong {
    color: #FFFFFF
}

p.lead {
    font-size: 1.5rem
}

a {
    color: #3acda3;
    text-decoration: none
}

a:hover {
    color: #e74b4f
}

mark {
    background: #fef8cf
}

.button.cta, .button.secondary, button[type=submit] {
    border-radius: 0.1875rem;
    padding: 0 1.25rem;
    margin: 0;
    line-height: 2.5rem;
    font-size: 1.125rem;
    font-weight: 800;
    background: #e74b4f;
    text-transform: uppercase
}

.button.secondary {
    background: #3acda3
}

.button.cta:hover, button[type=submit]:hover {
    background: #3acda3;
    color: #FFF
}

.button.small {
    line-height: 2rem;
    font-size: 1rem
}

.button.cta.large, button[type=submit] {
    border-radius: 0.3125rem;
    line-height: 4rem;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 3rem;
    font-weight: 800;
    letter-spacing: 0.0625rem
}

.row.testimonial {
    background: #f4f8fb;
    position: relative;
    overflow: hidden;
    padding: 3rem 0
}

.row.testimonial.green {
    background: #3acda3
}

.testimonial img {
    width: 8.75rem;
    height: 8.75rem;
    float: left;
    margin: 0 2rem 0 0;
    border-radius: 100%;
    background: #FFF
}

.testimonial blockquote {
    border: none
}

.testimonial blockquote p {
    font-size: 1.625rem;
    font-weight: 800;
    color: #23282e;
    font-style: italic
}

.testimonial.green blockquote p {
    color: #fff
}

.testimonial blockquote cite {
    font-style: normal;
    font-size: 1.125rem;
    color: #000;
    font-weight: 600
}

.testiomonial.green blockquote cite {
    color: #fff
}

.testimonial blockquote cite:before {
    content: "\f005 \f005 \f005 \f005 \f005";
    letter-spacing: 0.2rem;
    color: #ffdf4b;
    margin-right: 1rem
}

.testimonial small {
    color: #c4cdd7;
    position: absolute;
    right: 0;
    bottom: -1rem;
    font-size: 4rem;
    transform: rotate(-5deg)
}

.testimonial blockquote:before {
    content: "\201D";
    font-size: 12rem;
    line-height: 1;
    color: #c4cdd7;
    position: absolute;
    left: 1rem;
    top: -2rem;
    text-align: left;
    display: block;
    font-style: italic
}

.testimonial.green small {
    color: #34b892
}

.testimonial.green blockquote:before {
    color: #34b892
}

.row {
    max-width: 75rem;
    background: #FFF;
    padding: 5rem 0;
    position: relative
}

.row .row {
    background: none;
    padding: 0
}

.integrations {
    position: relative;
    padding: 3rem 0
}

.integrations ul, ul.integrations {
    list-style: none;
    padding: 0;
    margin: 0
}

.integrations ul li, ul.integrations li {
    display: inline-block;
    text-indent: -10000px;
    height: 2rem;
    margin: 1rem;
    background-size: contain
}

.integrations ul li a, ul.integrations li a {
    display: block
}

.integrations ul li:hover, ul.integrations li:hover {
    background-size: contain
}

.mailchimp {
    background: url("https://growtheme.com/wp-content/themes/growtheme-child/img/integrations/mailchimp.png") center center no-repeat;
    width: 9.375rem
}

.aweber {
    background: url("https://growtheme.com/wp-content/themes/growtheme-child/img/integrations/aweber.png") center center no-repeat;
    width: 7.25rem
}

.convertkit {
    background: url("https://growtheme.com/wp-content/themes/growtheme-child/img/integrations/convertkit.png") center center no-repeat;
    width: 8.8125rem
}

.drip {
    background: url("https://growtheme.com/wp-content/themes/growtheme-child/img/integrations/drip.png") center center no-repeat;
    width: 6.25rem
}

.getresponse {
    background: url("https://growtheme.com/wp-content/themes/growtheme-child/img/integrations/getresponse.png") center center no-repeat;
    width: 11.25rem
}

.campaignmonitor {
    background: url("https://growtheme.com/wp-content/themes/growtheme-child/img/integrations/campaignmonitor.png") center center no-repeat;
    width: 13.5rem
}

.infusionsoft {
    background: url("https://growtheme.com/wp-content/themes/growtheme-child/img/integrations/infusionsoft.png") center center no-repeat;
    width: 12.75rem
}

.row.text {
    padding: 2rem 0 4rem 0
}

.text h2 {
    margin: 4rem 0
}

.text h2:after {
    width: 20%;
    height: 4px;
    content: "";
    border-radius: 2px;
    background: #3acda3;
    display: block;
    margin: 1rem auto 2rem auto
}

.text h3 {
    font-size: 2rem
}

.text blockquote {
    margin: 4rem -2rem;
    padding: 2rem 4rem;
    box-shadow: 0 35px 60px -30px rgba(25, 30, 36, 0.25), 0 0 40px 0 rgba(25, 30, 36, 0.05);
    background: #FFF;
    font-size: 1.25rem;
    font-style: italic;
    border: none;
    display: block;
    position: relative;
    overflow: hidden;
    color: #23282e
}

.text blockquote:before {
    content: "\201D";
    font-size: 12rem;
    line-height: 1;
    color: #f4f8fb;
    position: absolute;
    font-weight: 800;
    left: 1rem;
    top: -2rem;
    text-align: left;
    display: block;
}

.text blockquote img {
    max-width: 8.75rem;
    float: left;
    margin: 0 2rem 2rem 0;
    border-radius: 100%;
    position: relative
}

.text blockquote cite {
    margin: 1rem 0 0 0;
    font-size: 1rem
}

.text blockquote cite:before {
    content: "";
    display: none
}

.text blockquote small {
    color: #f4f8fb;
    position: absolute;
    right: 0;
    bottom: -1.5rem;
    font-size: 4rem;
    transform: rotate(-5deg);
    font-weight: normal;
    font-style: normal
}

.text #graph {
    background: url("https://growtheme.com/wp-content/themes/growtheme-child/img/email-marketing-vs-social-media.png") center center no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    padding-top: 64%;
    margin: 4rem 0 8rem 0;
    position: relative
}

.text #graph .caption {
    font-style: italic;
    color: #cacaca;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: -3rem;
    width: 100%
}

.text #similarweb {
    background: url("https://growtheme.com/wp-content/themes/growtheme-child/img/similarweb-screenshot.png") center center no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    padding-top: 64%;
    margin: 2rem 0 5rem 0;
    position: relative
}

.text #similarweb .caption {
    font-style: italic;
    color: #cacaca;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: -3rem;
    width: 100%
}

.text .button.cta.large {
    margin: 0 auto
}

.check, .wrong {
    list-style: none;
    padding: 1rem 0 1rem 2rem
}

.check li, .wrong li {
    font-size: 1.25rem;
    position: relative;
    margin: 0 0 1rem 0
}

.check li:before, .wrong li:before {
    content: "\f00c";
    color: #3acda3;
    position: absolute;
    left: -2.5rem;
    top: 0;
    font-size: 1.5rem
}

.wrong li:before {
    content: "\f00d";
    color: #e74b4f
}

.bigfoot-footnote__button {
    top: 0.1rem;
    padding: .5rem 0.25rem;
    font-size: 0.75rem;
    font-weight: 800;
    color: #FFF;
    vertical-align: top
}

.bigfoot-footnote__content {
    padding: 1rem;
    background: #f4f8fb;
    box-shadow: none;
    border: none
}

.bigfoot-footnote__wrapper {
    max-width: 40rem;
    border-radius: 5px
}

.bigfoot-footnote, .bigfoot-footnote__tooltip {
    border: none;
    box-shadow: none
}

.bigfoot-footnote__tooltip {
    background: #f4f8fb;
    width: 1rem;
    height: 1rem;
    margin-left: -0.5rem
}

.is-positioned-bottom .bigfoot-footnote__tooltip {
    top: -0.5rem
}

.bigfoot-footnote p, .caption .bigfoot-footnote p {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
    font-style: normal;
    text-align: left
}

.gray {
    background: #f4f8fb
}

.switchOn {
    background-color: #2fcfa3;
    border: 2px solid;
    border-color: #2fcfa3;
    box-shadow: #2fcfa3 0 0 0 24px inset;
    border-radius: 30px;
    display: inline-block;
    height: 45px;
    position: relative;
    vertical-align: middle;
    width: 75px;
    box-sizing: content-box
}

.switchOn > small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 45px;
    position: absolute;
    top: 0;
    left: 30px;
    width: 45px
}

.optins {
    padding: 0;
    border: 2px solid #f4f8fb
}

.optins .columns.large-8 {
    padding: 2rem
}

.optins .columns.medium-2 {
    width: 20%
}

.optins .columns.medium-2 a {
    padding: 2rem;
    width: 100%;
    display: block;
    border: 2px solid #f4f8fb;
    background: #FFF
}

.optins .columns.medium-2 a:hover {
    box-shadow: 0 10px 75px -20px rgba(0, 0, 0, 0.45);
    z-index: 100;
    position: relative;
    border-color: #FFF
}

.optins a small {
    font-size: 1rem;
    color: #cacaca;
    font-weight: 800;
    display: block
}

.optins a:hover small {
    color: #3acda3
}

.sprite {
    max-width: 60%;
    margin: 0 auto 1rem auto;
    background-image: url("https://growtheme.com/wp-content/themes/growtheme-child/img/icon-sprite.png");
    background-size: 100%
}

.icon-author-byline {
    background-position: 0 0%
}

.icon-blog-index {
    background-position: 0 10%
}

.icon-comments-optin {
    background-position: 0 20%
}

.icon-content-optin {
    background-position: 0 30%
}

.icon-content-upgrades-dark {
    background-position: 0 40%
}

.icon-content-upgrades {
    background-position: 0 50%
}

.icon-featurebox {
    background-position: 0 60%
}

.icon-footer-optin {
    background-position: 0 70%
}

.icon-notificationbar {
    background-position: 0 80%
}

.icon-optin-popup {
    background-position: 0 90%
}

.icon-sticky-widget {
    background-position: 0 100%
}


    .button.cta.large, button[type=submit] {
        margin: 0 auto;
        line-height: 3rem;
        font-size: 1.25rem;
        padding: 0 1rem;
        letter-spacing: 0
    }

    .integrations, .row.testimonial {
        padding: 2rem 0
    }

    .integrations ul li {
        margin: 0.5rem
    }

    .testimonial blockquote:before, .testimonial small {
        display: none
    }

    .testiomonial blockquote {
        padding: 1rem
    }

    .testimonial img {
        float: none;
        margin: 0 auto 1rem auto
    }

    .testimonial blockquote p {
        font-size: 1.25rem
    }

    .testimonial blockquote cite:before {
        margin: 0;
        display: block
    }

    .text h2 {
        margin: 1rem 0;
        text-align: left
    }

    .text h2:after {
        width: 40%;
        margin: 1rem 0
    }

    h2, #content-upgrades h3 {
        font-size: 1.5rem
    }

    h2 br, h3 br {
        display: none
    }

    .text h3 {
        margin: 1rem 0;
        font-size: 1.25rem;
        text-align: left
    }

    p {
        font-size: 1rem
    }

    p.lead {
        font-size: 1.125rem
    }

    .text #graph {
        margin: 2rem 0 4rem 0
    }

    .check, .wrong {
        padding: 0 0 0 1.5rem
    }

    .check li, .wrong li {
        font-size: 1rem
    }

    .row {
        padding: 2rem 0
    }

    .optins {
        padding: 0
    }

    .optins .columns.large-8 {
        padding: 1rem
    }

    .optins .columns.medium-2 {
        width: 50%;
        padding: 0
    }

    .optins .columns.medium-2 a {
        padding: 1rem
    }

    .sprite {
        max-width: 80%
    }

.affwp-creative pre, .affwp-table {
    word-wrap: break-word
}



.screen-reader-text {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    word-wrap: normal !important
}




