
body{
    font-family: "Trebuchet MS";
    font-weight: bold;
}
.box1{
    background-color: #f83e3e;
    color: white;
    text-align: center;
    width: 100%;
    height: 90px;
    font-size: 40px;
    float: top;
    padding-top: 10px;

}
.box2{
    background-color: #bebebe;
    float: left;
    color: white;
    width: 15%;
    height: 800px;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 10px 5px 10px;
}
.box3{
    color: black;
    float: top;
    padding: 50px 0 0 350px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e19d9d;
    color: black;
    text-align: center;
}
a{
    color: goldenrod;
}