body{
    background-color: lightblue;

}
.back{
    color: goldenrod;
}
.pinkborder{
    border: #e19d9d 4px solid;
    width: 45%;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}
.message{
    border: lightskyblue 4px solid;
    margin: 4px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;

}
.avatar{
    width: 90px;
    flex-direction: column;
}
img{
    width: 90px;
}
.message:nth-child(odd){
     float: left;
 }
.message:nth-child(even){
    float: right;
    flex-direction: row-reverse;
    padding-left: 30px;
    text-align: right;
    padding-top: 10px;
}
.message:hover{
    background-color: #84a8b5;
}