body{
    background-image: url("images/DarkBackground.jpeg");
    color:goldenrod;
    font-family: "Trebuchet MS";
    font-size: 30px;
    margin-left:60px;
    margin-top: 50px;
    font-weight: bold;
    text-shadow: 1px 1px gold;
}

.middle{

}
a{
    color: goldenrod;

}
p{
    color: goldenrod;
    font-size: 20px;

}
.container{
    width: 20%;
    float: left;
}

