body{
    /*background-color: white;*/
}
.circle{
    /*background-color: yellow;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*border-radius: 60px;*/
    /*margin: 10px;*/
    /*border: 5px black dashed;*/
    float: left;
}