body{
    background-image: url("https://i.pinimg.com/736x/41/be/42/41be42c3b5a57c03cd8fe0fd3c53f686.jpg");
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
}
.back{
    color: goldenrod;
}
.opacity{
    position: absolute;
    width: 100%;
    height: 1000000px;
    opacity: 0.5;
    background-color: aqua;
}
.nav{
    background-color: midnightblue;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 70px;


}
.navnav{
    flex-direction: row;
    width: 25%;
    height: auto;
    border: midnightblue 3px solid;
    flex-shrink: inherit;
    text-align: center;
    color: white;
    font-family: Tahoma;
    font-size: 35px;
    position: relative;

}
.navnav:hover{
    position: absolute;
    top: 0px;
    display: block;
    background-color: red;
    border: red 3px solid;
    text-shadow: pink 2px 2px;
}
.home{
    display: none;
    position: relative;
}

a{
    color: white;
}