h1{
    text-align: center;
}

* {
    box-sizing: border-box;
    font-family: Verdana;
    color: white;

}
body{
    background-color: #762024;
}
.main {
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    width: 70%;
    background-color: #5a1616;
    grid-gap: 4px;
    margin:auto;
    height:350px;
    align-items: center;
    justify-content: center;
    box-shadow: #f1d438 10px 10px 30px;

    grid-template-areas:
            'header '
            'registration'
            'text';
}

.header {
    display:grid;
    background-color: #762024;
}
.registration {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    opacity:0.8;
    padding: 15px;
    grid-template-areas:
            'label input input'
            'label input input'
            'space button link';
}

.link{
    color: #444444;
}
.top {
    background-color: #596f76;
    margin:10px;
    border-radius:5px;
}
button {
    border-radius: 8px;
    width:80%;
    color:white;
    background-color: #4e2326;
    border: 1px solid #301711;
    cursor: pointer;
    padding: 10px 0;
    font-size: 15px;
}
.text {
    display:grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 5px;
    grid-template-areas:
            'left right'
}
.registration>label{
    display:grid;
    grid-column:label;
    grid-row:auto;
    margin: 20px;
}
.registration>input[type='text'],input[type='password']{
    display:grid;
    grid-column:input;
    grid-row: auto;
    border-radius: 5px;
    margin: 10px;
}
button:hover {
    background-color: red;
    transition: 1s;
}

@media(max-width: 500px) {
    .registration {

        display:grid;
        height:200px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
        opacity:0.8;
        grid-template-areas:
                'label label label'
                'input input input'
                'label label label'
                'input input input'
                'space button link';
    }
    .registration>label{
        display:grid;
        grid-column:label;
        grid-row:auto;
        width:100%;
    }
    .registration>input[type='text'],input[type='password']{
        display:grid;
        grid-column:input;
        grid-row: auto;
        border-radius: 15px;
        width:100%;
    }
}
input{
    color: black;
}
