.border4ik{
    height: 900px;
    background-color: #fff69b;
    padding: 50px
}
h1{
    padding-left: 400px;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Verdana";

}
.grid {
    width: 100%;
    padding-left: 200px;
    display: grid;
    grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px ;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px ;
    justify-content: flex-start;
    grid-column-gap: 15px;
    grid-row-gap:15px;
    color:black;
    text-align: center;
    font-size: smaller;
}