.main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
body {
    background-image: url(//kazakh-tv.kz/upload/anounces/big_e0f393fa0d3f13185be5cee08a788205.jpg);
    width: 98%;
    height: 80%;
}

.back {
    display:grid;
}
.text {
    display:grid;
}
p {
    padding: 5px;
}