
#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}
body{
    padding: 10px;
}
*{
    box-sizing: border-box;
    font-weight: bold;
    font-size: small ;
    font-family: Verdana;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width:300px;
    background: gray;
}
input{
    margin: 2px;
    border-radius: 4px;
}

.calc{
    box-shadow: black 5px 5px 10px;
}
.inputik{
    margin: 5px;
    height: 25px;
    width: 30%;
}