.load{
    box-shadow:  yellow 2px 2px 30px;
    height: 5rem;
    width: 5rem;
}
body{
    margin: 0;
    padding: 0;
    background-color: #a2fcff;
    font-family: Verdana;
    box-sizing: border-box;
}
@keyframes moving {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.content{
    animation: moving linear;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
}
.header{
    text-align: center;
    background-color: #ffffff;

}
.text{
    margin: 15px 0 15px 0;
    padding: 15px 0 15px 0;
    font-weight: bolder;
}
button{
    color: white;
    width: 100%;
    background-color: dodgerblue;
    margin: 0;
}
.cols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    padding: 10px;
}
.extra{
    padding: 10px;
    text-align: left; !important;
}
.back{
    background-color: rgba(32, 195, 46, 0.35);
    width: 100%;
    margin: 10px 0 10px 0;
}
.col-md-12{
    padding: 5px 0 5px 0;

}