body{
  font-family: "Verdana";
  background-color: white;

}
.navbar-brand{
  color: red;
}
.angles{
  border-radius: 20px;

}
#grad{
  background-image: linear-gradient(to right, #356dff, darkviolet);
}

#grad1{
  background-image: linear-gradient(to right, #7299ff, #b200ff);
}

#grad2{
  background-image: linear-gradient(to top right, #7299ff, #b200ff);
}

.Mybackground{
  background-color: #008aff;
  box-shadow: black 1px 1px 30px;
  z-index: 1;
  width: 100%;
}
.Mybackground2{
  background-color: white;
  box-shadow: black 1px 1px 10px;
}
.txt{
  text-shadow: black 2px 2px 3px;
}
.txt1{
  text-shadow: black 2px 2px 3px;
  font-size: x-large;
}
.txt2{
  font-weight: bolder;
  color: white;
  /*text-shadow: black 2px 2px 3px;*/
  text-shadow: 0 15px 5px rgba(0,0,0,0.1),
               10px 20px 5px rgba(0,0,0,0.1),
              -10px 20px 5px rgba(0,0,0,0.1);
}
.main{
  margin: 30px 0 0 10px;
}
.name{
  font-size: xx-large;
}
.bgrnd{
  width: 100%;
  opacity: 0.2;
  box-shadow: black 1px 5px 30px;
  z-index: -2;
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.expo{
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: black 1px 5px 30px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.dark{
  background-color: #000029;
  opacity: 0.8;
  color: #757575;
  padding: 50px 0 0 0;
  margin: 0;
  z-index: 1;
  bottom: 0;
  width: 100%;
  border-top: #000041 10px solid;

}
.found{
  width: 100%;
}

.link{
  color: white;
  text-underline: none;
}
.link:hover{
  color: white;
  font-weight: bolder;
  text-underline: none;
}

.zoom:hover{
  transform: scale(1.4);
  z-index:10;
  box-shadow: black 5px 5px 10px;
}
.img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: contain;
  margin: 5px 0 20px 0;

}
.imgframe{
  background-color: white;
  margin: 1px;
  box-shadow: black 1px 1px 5px;
  width: 5%;
}
.row-center{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.attach{
  background-color: #bd5cff;
  border-radius: 10px;
  border: black 3px solid;
  box-shadow: black 5px 5px 5px;
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 50px;
  height: 150px;

}
.gallery{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 30px;
}
.link2{
  color: gray;
  text-underline: none;
}
.buttton{
  border-radius: 10px;
  border: black 2px solid;
  background-color: yellow;
  color: black;
  padding: 5px;
  height: 50px;
}
.buttton:hover{
  background-color: #9c9c00;
  color: purple;
}
.works{
  margin-bottom: 20px;
}

.regcenter{
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: white;
  border: black 5px solid;
  box-shadow: black 2px 5px 10px 2px;
  border-radius: 25px;
  width: 70%;
}

.new{
  background-color: white;
  border-top: black 2px solid;
  margin: 0;
  padding: 0 0 30px 30px;
}
.sis{
  color: gray;
  display: flex;

}
.img2{
  width: 25%;
}

.white{
  background-color: white;
  border: dodgerblue 2px solid;
  box-shadow: black 2px 2px 10px;
  border-radius: 10px;
  margin: 30px;
}
.hov:hover{
  color: #008aff;
}
.mmrrggnn{
  margin: 0 0 0 30px;
}

.part{
  background-color: white;
  box-shadow: black 2px 5px 10px;
  border: black 5px solid;
  border-radius: 20px;
  margin-bottom: 10px;
}
.complai{
  margin-top: 100px;
  margin-bottom: 100px;
}
.centralisation{
  display: flex;
  flex-direction: unset;


}
.ach{
  padding-top: 30px;
}
.complain{
  width: 100%;
  margin: 10px;
  border-radius: 15px;
  border: darkviolet 2px solid;
  float: left;
  box-shadow: black 2px 2px 10px;
}
.complain2{
  background-color: orange;
  border: black 2px solid;
  border-radius: 15px;
  width: 50%;
  margin: 15px;
  box-shadow: black 2px 2px 10px;
}
.ccreate{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.ccreate1{
  border-radius: 15px;
  border: black 2px solid;
  margin: 10px;
  padding: 10px;
}
@media screen and (max-width:700px ){
  .zoom{
    width: 10%;
  }
  .buttton{
    height: 150px;

  }
  .attach{
    height: 200px;
    width: 100%;
  }
}

